<section class="product-section mt-4">
  <div class="container-fluid">
    <div class="row">
      {{#each products}}
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card h-100  text-start">
          <div class="text-center m-3">
            <img src="/product-images/{{this._id}}.jpg" alt="{{this.Name}}" class="img-fluid"
              style="height: 200px; object-fit:contain">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{this.Name}}</h5>
            <p class="card-text">{{this.Description}}</p>
            <p class="card-text font-weight-bold" id="price">{{priceFormat this.Price}}</p>
            <div class="cart-message d-flex align-items-center" data-product-id="{{this._id}}">
              <img src="images/icons/checkmark.png" alt="" style="height: 20px;">
              <span class="text-success fw-bold ml-1">Added</span>
            </div>
            <div class="mt-2">
              <button class="btn addCartBtn" onclick="addToCartBtnAjax('{{this._id}}')">Add to Cart</button>
            </div>

          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>