<section class="product-section mt-4">
  <div class="container-fluid">
    <div class="row">
      {{#each products}}
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card h-100  text-start">
          <img class="img-fluid custom-image" src="/product-images/{{this._id}}.jpg" alt="{{this.Name}}">
          <div class="card-body ">
            <h5 class="card-title">{{this.Name}}</h5>
            <p class="card-text">{{this.Description}}</p>
            <p class="card-text font-weight-bold">{{priceFormat this.Price}}</p>
            <button class="btn btn-primary" onclick="addToCartBtnAjax('{{this._id}}')">Add to Cart</button>
            <div id="cart-message" data-product-id="{{this._id}}" class="alert alert-success d-none"
              style="position: fixed; display:inline; padding:6px; margin-left:3em">
              ✅ Added to cart!
            </div>

          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>